 body{
	background-image: url(reg.jpg);
	background-repeat: no-repeat;
	background-size :100% 100%;
}
.register
{
	text-align:center;
	margin:100px 400px;
      color: white
}
#registration{
	width:100%;
	background-color: #051019;
	opacity:0.8;
	padding: 50px 0px;
      margin-left: -377px;
      margin-top: -119px;
}
#password
{
  width:250px;
  padding:10px;
  border-radius:5px;
  outline:0px;
  
}
#confirm_password
{
  width:250px;
  padding:10px;
  border-radius:5px;
  outline:0px;
}
#button{
	width:250px;
	padding:10px;
	border-radius:5px;
	outline:0px;
}

#ph{
	width:250px;
	padding:10px;
	border-radius:5px;
	outline:0px;
}

.button {
  border-radius: 4px;
  background-color: #1ec3f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
h1 
{
    text-shadow: 3px 2px #1ec3f4;
     font-weight: 900;
}
.button span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span 
{
  padding-right: 25px;
}

.button:hover span:after 
{
  opacity: 1;
  right: 0;
}